.addToCartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.incrementDecrementContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(8 / 16 * 1rem);
    background-color: var(--clr-red);
    font-size: var(--font-sm);
    font-weight: var(--semibold);
    width: calc(160 / 16 * 1rem);
    height: calc(48 / 16 * 1rem);
    border: 1px solid var(--clr-rose-400);
    padding: calc(12 /16 * 1rem);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    color: var(--clr-white);
}

.btn {
    width: calc(160 / 16 * 1rem);
    height: calc(48 / 16 * 1rem);
    border: 1px solid var(--clr-rose-400);
    padding: calc(12 /16 * 1rem);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(8 / 16 * 1rem);
    background-color: var(--clr-white);
    font-size: var(--font-sm);
    font-weight: var(--semibold);
    cursor: pointer;
}

.btn:hover {
    border: 1px solid var(--clr-red);
}

.btn:hover .btnText {
    color: var(--clr-red);
}

.cartIcon {
    width: calc(20 / 16 * 1rem);
    height: calc(20 / 16 * 1rem);
}

.btnText {
    font-family: var(--font-family);
    font-weight: var(--semibold);
    font-size: var(--font-sm);
    color: var(--clr-rose-900);
}

.incrementDecrementBtn {
    background-color: var(--clr-red);
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--clr-white);
    border-radius: 50%;
    cursor: pointer;
    width: calc(20 / 16 * 1rem);
    height: calc(20 / 16 * 1rem);
}

.incrementDecrementBtn:hover {
    background-color: var(--clr-white);
    color: var(--clr-red);
    border-radius: 50%;
    padding: 0;
    outline: 0;
}