
.app {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    background-color: var(--clr-rose-50);
}

.productListWithCart {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-400);

    @media (min-width: 64rem) {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }
}

.title {
    font-family: var(--font-family);
    font-weight: var(--bold);
    font-size: var(--font-xl);
    line-height: var(--lheight-lg);
    color: var(--clr-rose-900);
}